:root {
  --font-family-inika: 'Inika', sans-serif;
  --text-rgb-148-148-148: rgba(148, 148, 148, 1);
  --text-rgb-121-189-205: rgba(121, 189, 205, 1);
}

.text-rgb-148-148-148 {
  color: var(--text-rgb-148-148-148);
}

.text-rgb-121-189-205 {
  color: var(--text-rgb-121-189-205);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-inika);
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.node-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 206px;
  width: 100%;
  height: auto;
}

.text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-121-189-205);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-121-189-205);
}

.rectangle-1-8 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(121, 189, 205, 1);
  border-radius: 44px;
}

.group-9-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-10 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-11 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-1-9 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-13 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-14 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-2-12 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-3-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-19 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-4-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-22 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-23 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-5-21 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-25 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inika);
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-148-148-148);
}

.rectangle-1-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 44px;
}

.group-8-24 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-2-5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 18px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-1-1 {
  @media (max-width: 1440px) {
    .frame-1-1 {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  @media (max-width: 768px) {
    .frame-1-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}