{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }} {{ end }} {{ define "main" }}
<main>
  <div
    class="grid"
    data-masonry='{"itemSelector": ".grid-item", "horizontalOrder": true, "transitionDuration": "0.2s" }'
  >
    {{ range $index, $image := sort .Resources "Params.order" "desc" }} {{ if
    strings.HasSuffix $image.RelPermalink "jpg" }} {{ $image := $image.Resize
    "800x webp" }} {{ end }}

    <div class="grid-item group relative w-full sm:w-1/2 md:w-1/3">
      <div class="top-0">
        <img
          class=""
          alt="{{.Title}}"
          src="{{ $image.RelPermalink | safeURL }}"
          {{
          if
          ne
          $index
          0
          }}
          loading="lazy"
          {{
          end
          }}
          width="{{ $image.Width }}"
          height="{{ $image.Height }}"
        />
      </div>
      <div
        class="absolute inset-0 flex flex-col content-center justify-center overflow-hidden bg-primary/100 text-center align-middle text-white opacity-0 duration-75 ease-out group-hover:opacity-100"
      >
        <div class="font text-2xl font-bold">{{.Title}}</div>
        <div class="text-md">{{.Params.details}}</div>
        <div class="text-lg">{{.Params.year}}</div>
      </div>
    </div>
    {{ end }}
  </div>
</main>
{{ end }}
