<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Normia, illustratrice indépendante.
  Découvrez mon portfolio ou contactez-moi pour me parler de votre projet d’illustration."
/>
<meta
  name="keywords"
  content="normia,Illustratrice,Illustration,Illustrateur,Jeunesse,Édition,Presse,Dessin,Art,Artiste,Semi-réaliste,Couleur,Personnages,Famille,Enfants"
/>
<meta property="og:title" content="Normia, illustratrice indépendante." />
<meta property="og:site_name" content="Normia" />
<meta property="og:url" content="https://normia.fr" />
<meta
  property="og:description"
  content="Découvrez mon portfolio ou contactez-moi pour me parler de votre projet d’illustration."
/>
<meta property="og:type" content="website" />
<meta
  property="og:image"
  content="http://www.normia.fr/about/normia_about.jpg"
/>

{{ partialCached "css.html" . }}
<noscript>
  {{ $favicon := resources.Get "apple-touch-icon.png" }}
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ $favicon.RelPermalink }}"
  />

  {{ $favicon := resources.Get "favicon-32x32.png" }}
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ $favicon.RelPermalink }}"
  />
  {{ $favicon := resources.Get "favicon-16x16.png" }}
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ $favicon.RelPermalink }}"
  />
  {{ $favicon := resources.Get "favicon.ico" }}
  <link
    rel="shortcut icon"
    href="{{ $favicon.RelPermalink }}"
    type="image/x-icon"
  />
  <link rel="icon" href="{{ $favicon.RelPermalink }}" type="image/x-icon" />

  {{ $favicon := resources.Get "site.webmanifest" }}
  <link rel="manifest" href="{{ $favicon.RelPermalink }}" />

  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
</noscript>
